
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
}

.container {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px 30px;
  box-shadow: 3px 2px 10px 7px rgba(27, 0, 0, 0.17);
  border-radius: 5px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(36, 3, 51);
}

.to-do-add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.form {
  width: 98%;
  margin-block: 20px;
}

input[type="text"] {
  line-height: 2;
  padding: 5px 10px;
  font-style: italic;
  width: 98%;
  border: 1px solid gray;
  border-radius: 5px;
  font-family: inherit;
}

i {
  cursor: pointer;
  font-size: 1.2rem;
}

i:hover {
  color: red;
}

.to-do-clear {
  background-color: gainsboro;
  width: 100%;
  margin: 5px auto;
  display: block;
  padding: 10px 20px;
  border: none;
  font-size: 1.3rem;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.to-do-clear:hover {
  background-color: black;
  color: #ffff;
}

ul {
  list-style-type: none;
}

.each-todo {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  position: relative;
  width: 100%;
  margin-block: 10px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding-block: 5px;
}

.fa-trash {
  position: absolute;
  right: 10px;
}

.hidden {
  display: none;
}

.linthrough {
  text-decoration: line-through;
}
